# .clang-format configuration file
BasedOnStyle: LLVM
IndentWidth: 4
UseTab: Never
BreakBeforeBraces: Allman
SpaceAfterCStyleCast: false
SpaceBeforeParens: ControlStatements
SpacesInParentheses: false
SpaceAfterLogicalNot: false
SpacesInAngles: false
SpaceBeforeSquareBrackets: false
SpaceBeforeAssignmentOperators: true
SpacesBeforeTrailingComments: 1
AllowShortIfStatementsOnASingleLine: false
AllowShortLoopsOnASingleLine: true
AllowShortFunctionsOnASingleLine: None
AllowShortBlocksOnASingleLine: false
AllowShortCaseLabelsOnASingleLine: false
BreakBeforeBinaryOperators: All
SpacesInConditionalStatement: false
ColumnLimit: 160
PointerAlignment: Left
